/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
/node_modules
/.lein-repl-history
/.lsp/
/knowtator-clj.iml
/.shadow-cljs/
/package-lock.json
/karma.conf.js
/system.properties
/TAGS
/.nrepl-port
/.idea/
