target/
/.directory
src/test/resources/biocreative_chemprot/
src/test/resources/concepts+assertions/
/src/test/resources/biocreative_chemprot_small/
/.clj-kondo/
/node_modules/
/.shadow-cljs/
/resources/public/
/.lein-failures
/.dir-locals.el
/.nrepl-port
