<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
    <extension id="Knowtator"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Knowtator"/>
        <class value="edu.ucdenver.ccp.knowtator.view.KnowtatorView"/>
        <headerColor value="@org.protege.miscellaneouscolor"/>
        <category value="@org.protege.miscellaneouscategory"/>
    </extension>
</plugin>