<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
    <extension id="Knowtator"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Knowtator"/>
        <class value="edu.ucdenver.ccp.knowtator.KnowtatorView"/>
        <headerColor value="@org.protege.miscellaneouscolor"/>
        <category value="@org.protege.miscellaneouscategory" />
    </extension>

    <extension id="menu.PluginsMenuItem"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Knowator Menu"/>
        <class value="edu.ucdenver.ccp.knowtator.view.menu.ProjectMenu"/>
    </extension>
</plugin>