{:nrepl  {:port       8777
          :middleware [refactor-nrepl.middleware/wrap-refactor,
                       cider.nrepl/cider-middleware,
                       cider.piggieback/wrap-cljs-repl]}
 :builds {:app {:target     :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules    {:app {:init-fn  knowtator.core/init
                                   :preloads [devtools.preload
                                              day8.re-frame-10x.preload]}}
                :dev        {:compiler-options {:closure-defines {re-frame.trace.trace-enabled?              true
                                                                  day8.re-frame.tracing.trace-enabled?       true
                                                                  re-com.config/root-url-for-compiler-output "http://localhost:8290/js/compiled/app/cljs-runtime/"}}}
                :release    {:build-options
                             {:ns-aliases
                              {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}

                :devtools {:http-root "resources/public"
                           :http-port 8280}}
          :browser-test {:target    :browser-test
                         :ns-regexp "-test$"
                         :runner-ns shadow.test.browser
                         :test-dir  "target/browser-test"
                         :devtools  {:http-root "target/browser-test"
                                     :http-port 8290}}

          :karma-test {:target    :karma
                       :ns-regexp "-test$"
                       :output-to "target/karma-test.js"}}
 :deps true}
