@import "https://fonts.googleapis.com/css?family=Open+Sans";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #f0f0f0;
}

.container {
  margin-bottom: -25px !important;
}

.container, .backdrop, textarea, .foredrop {
  width: 100%;
  height: 1000px;
}

.highlights, textarea {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: -1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: visible;
  pointer-events: none;
  transition: transform, 1s;
}

.foredrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: transparent;
  overflow: visible;
  pointer-events: none;
  transition: transform, 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea {
  margin: 0;
  border: 2px solid #74637f;
  position: absolute;
  z-index: 0;
  font: 20px/28px 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0;
  display: block;
  bottom: 0;
  resize: none;
  transition: transform, 1s;
  color: #444;
  left: 0;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}

button {
  appearance: none;
  width: 300px;
  margin: 30px, auto, 0;
  border: none;
  padding: 10px;
  cursor: pointer;
  font: 18px, 'Opens Sans', sans-serif;
  background-color: #74637f;
  letter-spacing: 1px;
  border-radius: 6px;
  display: block;
  color: #fff;
}

.perspective, .backdrop {
  transform: perspective(1500px), translateX(-125px), rotateY(45deg), scale(0.9);
}

.perspective, .foredrop {
  transform: perspective(1500px), translateX(-125px), rotateY(45deg), scale(0.9);
}

.perspective, textarea {
  transform: perspective (1500px), translateX(155px), rotateY(45deg), scale(1.1);
}

textarea:focus, button:focus {
  outline: none;
  box-shadow: 0, 0, 0, 2px, #c6aada;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
}

.popup .popuptext {
  width: 160px;
  padding: 8px 0;
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
  background-color: #555;
  border-radius: 6px;
  bottom: 125%;
  color: #fff;
  left: 50%;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -web-kit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}